grpc:
  server:
    port: 9208
  client:
    field-event-publish-service:
      address: 'static://tuintlvs28.tuintl.transunion.com:9195'
      #      address: 'static://localhost:9195'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: PLAINTEXT
      #negotiationType: TLS
      #security:
      #  trustCertCollection: file:/opt/transunion/grpc/cert/tuintl.transunion.com.crt

spring:
  kafka:
    consumer:
      bootstrap-servers: tuintlps47:9092,tuintlps48:9092,tuintlps49:9092
      #      bootstrap-servers: tuintlvs296:9092,tuintlvs297:9092,tuintlvs298:9092
      topic: cdcEvents_local
      #      topic: io_replicate_cdc_logs
      group-id: cdc-event-consumer-group
      auto-offset-reset: latest
      enable-auto-commit: false
      auto-commit-interval-ms: 1000
      max-poll-interval-ms: 300000
      max-poll-records: 500
      poll-duration-ms: 100
      trigger-consumer-count: 10
      session-timeout-ms: 300000
      heartbeat-interval-ms: 1000
      poll-timeout: 100
      retry-count: 1
      delay: 20
      id: cdc-event
    listener:
      concurrency: 1
    ssl:
      enabled: false
      security:
        protocol: SSL
      truststore:
        location:
        password:
      keystore:
        location: /opt/transunion/grpc/config/common/kafkaclient.tuintl.transunion.com.jks
        password: /T8iirsS37D/q4xY2hC7wg==
      key:
        password: /T8iirsS37D/q4xY2hC7wg==
      encryption:
        secretKeyPath: /shared/tuc1appl/config/secretkey.properties
        saltKey: 9YmdUwOB0Zph
  server:
    name: cdc-event-consumer

  config:
    import: configserver:http://localhost:8101


kafka:
  bootstrap-servers: tuintlps45:9093,tuintlps46:9093
  schema-registry-url: http://tuintlps45.tuintl.transunion.com:8082
  keySerializer: org.apache.kafka.common.serialization.StringSerializer
  valueSerializer: org.apache.kafka.common.serialization.ByteArraySerializer
  keyDeserializer: org.apache.kafka.common.serialization.StringDeserializer
  valueDeserializer: io.confluent.kafka.serializers.protobuf.KafkaProtobufDeserializer
  groupId: cdc-failure-consumer-group
  topic: fieldEventRequest_cdc
  deadTopic : fieldEventRequest_cdc
  consumer:
    bootstrap-servers: tuintlps45:9092,tuintlps46:9092
    #schema-registry-url: http://tuintlps45.tuintl.transunion.com:8082
    key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
    auto-offset-reset: earliest
    enable-auto-commit: false
    max-poll-interval-ms: 300000
    poll-timeout: 60000
    max-poll-records: 500
    max-poll-zero-count: 3
    groupId: cdc-failure-consumer-group
    topic: fieldEventRequest_cdc
    maxRetryCount : 3
    min-retry-interval: 3600000 # milliseconds #3600000 # 1 hour
  ssl:
    enabled: false
    security:
      protocol: SSL
    truststore:
      location:
      password:
    keystore:
      location: /opt/transunion/grpc/config/common/kafkaclient.tuintl.transunion.com.jks
      password: /T8iirsS37D/q4xY2hC7wg==
    key:
      password: /T8iirsS37D/q4xY2hC7wg==
    encryption:
      secretKeyPath: /shared/tuc1appl/config/secretkey.properties
      saltKey: 9YmdUwOB0Zph

cron_job:
  CDC_EVENT_FAILURE_RETRY_TIMER: "0 0/5 * * * *"

cdc:
  schedular:
    threadPoolSize: 10

app:
  region: SA
  validEventTypes: TRADE_INSERT,TRADE_UPDATE,ADDRESS_INSERT,TELEPHONE_INSERT,INQUIRY_INSERT,MERGE_INSERT

field-event-mapping:
  EVENT_TYPE: tableName.name
  event-mapping:
    DEFAULT:
      subjectId: after.fid
      eventTimestamp: cursor.timestamp
      field: tableName.name[fieldMapping]
      fieldType: tableName.name[fieldMapping]+_+opType[opTypeMapping]
    merge_aud:
      subjectId: after.merge_fid
      field: "NAMES"

  event-data-mapping:
    DEFAULT:
      serialNum: cursor.lsn+cursor.seqNum
      memberCode: after.member_kob+after.member_code[lpadding:8:0]
      param2: after.serial_num
      reportedDate: after.rpted_dt
      relatedFieldType: tableName.name[fieldMapping]+_+opType[opTypeMapping]
    TRADE_INSERT:
      accountInfo: after.acct_num+|+after.acct_type+|+after.owner_indic
      recordSinceDate: after.opened_dt
      reportedDate: after.reporting_dt
    TRADE_UPDATE:
      accountInfo: after.acct_num+|+after.acct_type+|+after.owner_indic
      recordSinceDate: after.opened_dt
      reportedDate: after.reporting_dt
    ADDRESS_INSERT:
      addressType: after.address_category
      recordSinceDate: after.file_since_dt
    INQUIRY_INSERT:
      param2: after.inq_control_num
      recordSinceDate: after.inquiry_dt
      enquiryType: after.inq_purpose
      reportedDate: after.inquiry_dt
    TELEPHONE_INSERT:
      recordSinceDate: after.file_since_dt
    MERGE_INSERT:
      param1: after.base_fid
      accountInfo: FRAGMENT FID +after.merge_fid+ MERGED INTO BASE FID +after.base_fid
      mergeId: cursor.seqNum
      recordSinceDate: "1900-01-01"
      reportedDate: "1900-01-01"

  field-transformation-mapping:
    opTypeMapping:
      I: INSERT
      U: UPDATE
      D: DELETE
    fieldMapping:
      merge_aud: MERGE
      trade: TRADE
      address: ADDRESS
      telephone: TELEPHONE
      inquiry: INQUIRY
    dateTimeMapping:
      sourceFormat: yyyy-MM-dd HH:mm:ss.S
      targetFormat: yyyy-MM-dd

management:
  metrics:
    export:
      prometheus:
        enabled: true
  endpoints:
    web:
      exposure:
        include: prometheus
